@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}
#root {
  padding: 15px;
}
